@import url('https://felixjamestin.github.io/roam/base.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

:root {
    --font-size: 14px;
    --header-font: "Inter", sans-serif;	
    --body-font: "Inter", sans-serif;

    /* Puma */
    --border-color: rgba(0, 0, 0, 0.08);
    --subtle-border-color: rgba(255, 255, 255, 0.11);
    --main-background-color: #292b35;
    --body-background-color: #353846;
    --popup-background-color: #3D4050;
    --black-text: #222222;
    --empty-text-color: #9DA5B4;
    --body-text-color: #f5f5f5;
    --reference-item-background: rgba(0, 0, 0, 0.10);
    --brackets-color: rgba(0, 0, 0, 0.25);
    --sidebar-base-text-color: #9DA5B4;
    --primary-accent-color: #50FA7B;
    --secondary-accent-color: #CDAEF9;
    --secondary-accent-extra-color: rgb(203, 170, 247);
    --tertiary-accent-color: #8BE9FD;
    --tertiary-accent-extra-color: #46DFFF;
    --block-highlight-accent-color: #6A6F88;
    --search-background-color: #292b35;
    --search-border-color: rgba(255, 255, 255, 0.08);

    /* Flash */
    /* --border-color: rgba(0, 0, 0, 0.08);
    --subtle-border-color: rgba(255, 255, 255, 0.11);
    --main-background-color: #828080;
    --body-background-color: #828080;
    --popup-background-color: #3D4050;
    --black-text: #222222;
    --empty-text-color: #9DA5B4;
    --body-text-color: #f5f5f5;
    --reference-item-background: rgba(0, 0, 0, 0.10);
    --brackets-color: rgba(0, 0, 0, 0.25);
    --sidebar-base-text-color: #9DA5B4;
    --primary-accent-color: #FEEA43;
    --secondary-accent-color: #FEEA43;
    --secondary-accent-extra-color: #FEEA43;
    --tertiary-accent-color: #8BE9FD;
    --tertiary-accent-extra-color: #46DFFF;
    --block-highlight-accent-color: #6A6F88;
    --search-background-color: #292b35;
    --search-border-color: rgba(255, 255, 255, 0.08); */
}